$sm: "only screen and (min-width: 640px)";
// => @media (min-width: 640px) { ... }

$md: "only screen and (min-width: 768px)";
// => @media (min-width: 768px) { ... }

$lg: "only screen and (min-width:  1024px)";
// => @media (min-width: 1024px) { ... }

$xl: "only screen and (min-width:  1280px)";
// => @media (min-width: 1280px) { ... }

$xl2: "only screen and (min-width:  1536px)";
// => @media (min-width: 1536px) { ... }

.registerForm {
  width: 100%;
  padding: 10px 0;

  // register form
  .field {
    flex-direction: column;
    gap: 2rem;

    @media #{$sm} {
      flex-direction: row;
    }

    .fieldLabel {
      flex: 2;
      display: inline-block;
      margin-bottom: 6px;
    }

    .fieldInput {
      flex: 5;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      input {
        width: 100%;
        padding: 4px 10px;
        background-color: #E9E9ED;
        background-color: #fff;
        border: 1px solid rgba(128, 128, 128, 0.514);

        &:focus {
          border-color: rgb(27, 110, 219);
          ;
          outline: none;
          background: transparent;
        }

        &::placeholder {
          font-size: 80%;
        }


      }

      .eye {
        position: absolute;
        right: 0;
        // top: 6px;
        padding: 10px;
        margin-right: 4px;
        font-size: 1.3rem;
        cursor: pointer;
        opacity: 0.2;

        &:hover {
          opacity: 0.4;
        }
      }

    }
  }

}