$sm: "only screen and (min-width: 640px)";
// => @media (min-width: 640px) { ... }

$md: "only screen and (min-width: 768px)";
// => @media (min-width: 768px) { ... }

$lg: "only screen and (min-width:  1024px)";
// => @media (min-width: 1024px) { ... }

$xl: "only screen and (min-width:  1280px)";
// => @media (min-width: 1280px) { ... }

$xl2: "only screen and (min-width:  1536px)";
// => @media (min-width: 1536px) { ... }

.updateForm{
  width: 100%;
  padding: 10px 0;


  // Available check box design
  input[type=checkbox] {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;

    &:checked+label:after {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  input[type=checkbox]:checked+label {
    background: #EA062B;
  }

  .switchLable {
    cursor: pointer;
    text-indent: -9999px;
    width: 42px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 20px;
      height: 100%;
      background: #fff;
      box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
      border-radius: 90px;
      transition: cubic-bezier(.68, -0.55, .27, 1.55) 0.2s;
    }
  }

  // register form


  .field {

    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media #{$sm} {
      flex-direction: row;
    }

    .fieldLabel {
      flex: 2;
    }

    .fieldInput {
      flex: 5;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;


      select,
      input {
        width: 100%;
        padding: 4px 10px;
        background-color: #E9E9ED;
        background-color: #fff;
        border: 1px solid rgba(128, 128, 128, 0.514);

        &:focus {
          border-color: rgb(27, 110, 219);
          ;
          outline: none;
          background: transparent;
        }

        &::placeholder {
          font-size: 80%;
        }
      }
      select{
        padding: 6px 10px;
      }

      .month {
        flex: 3;
      }

      .day {
        flex: 2;
      }

      .year {
        flex: 3
      }

      // error
      div {
        position: relative;
      }

      .error {
        font-size: 0.8rem;
        color: rgb(230, 43, 43);
        position: absolute;
        left: 0;
        top: 100%;
      }

    }
  }

}